.content2{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 75vh;
    padding-right: 100px; 
    /* background-color: rgb(46, 46, 46); */
}

  .container { 
    width: 55%; 
    height: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 140px 140px;
    gap: 0px 0px;
  }
  .box h1{
    font-size: 3em;
  }

  .content2-imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
  }

  @media screen and (max-width:1325px) {
    .screenShot img{
     width: 900px;
    }
    .box h1{
        font-size: 2em;
    }
    
 }
